<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ Title }}</title>
    <style>#nav{
        width: 100%;
        background-color: darkred;
        color: white;
    }
    #nav a{
        color: white;
    }
    .username{
        float: right;
    }
    #searchBar{
        opacity: 0.5;
    }
    #searchBar:focus{
        opacity: 1;
    }
    {% if Source %}
    code {
        white-space: pre-wrap;
    }
    {% endif %}
    </style>
</head>
<body>
    <div id="nav">
        <div id="links">
            {{ Home }}
            <a href="/editor.html">Editor</a>
            {% if Username == "Guest" %}
                <span class="username"><a href="/login.html">Login</a></span>
            {% else %}
                <span class="username">User: {{ Username }}</span>
            {% endif %}
        </div>
        <div id="views">
            {% for name, link in Views.items() %}
                <a href="{{ link }}">{{ name }}</a>
            {% endfor %}
        </div>
        <div id="search">
            <form action="/Spec/Search">
                <label>
                    <input
                            type="text"
                            name="search"
                            placeholder="Search for..."
                            id="searchBar"
                    >
                </label>
                <button
                        type="submit"
                        name="action"
                        value="search"
                >Go</button>
            </form>
        </div>
    </div>
    {% if Source %}
    <code>
{{ Body }}
    </code>
    {% else %}
        {{ Body }}
    {% endif %}
</body>
</html>